{
  "extends": ["next/core-web-vitals", "prettier"],
  "plugins": ["simple-import-sort"],
  "rules": {
    "prefer-const": "warn",
    "react/no-unescaped-entities": "warn",
    "simple-import-sort/imports": "warn",
    "simple-import-sort/exports": "warn"
  },
  "overrides": [
    {
      "files": ["**/*.ts?(x)"],
      "rules": {
        // typescript only rules go here
      }
    }
  ]
}
