.titleContainer {
  background-color: #485595;
  border-radius: 15px;
  color: white;
  padding: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.title {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.titleDescription {
  font-size: 23px;
}

.container {
  border-radius: 15px;
  border: 1px solid black;
  padding: 16px 35px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px #b4cede;
}

.container img {
  width: 120px;
  height: 120px;
  margin-right: 35px;
}

/* .container div {
  margin-right: 16px;
} */

.container a {
  /* margin-top: 8px; */
  display: block;
  color: blue;
  text-decoration: none;
}

.header {
  font-weight: bold;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
