.wrapper {
  text-align: center;
  margin: 40px 20px;
}

.button {
  border-radius: 50%;
  align-content: center;
  text-align: center;
  margin: 20px 20px;
}

.memorandum {
  margin: 20px 40px;
}

.textmemorandum {
  margin: 20px 20px;
}

.donate {
  margin: 20px 40px;
}

.donatetext {
  margin: 20px 20px;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}
