.body {
  margin: 0px, 50px;
}

.home {
  margin-left: 20px;
  margin-right: 20px;
  padding: 5px 5px;
}

.landingImage {
  width: 500px;
  z-index: 0;
  background-size: cover;
  height: 500px;
  top: 0;
}

.landingText {
  position: absolute;
  z-index: 0;
  background-color: black;
  color: white;
  text-align: left;
  align-items: left;
  margin-top: 200px;
  margin-left: 100px;
  top: 0;
}

.landingIntro {
  margin: 20px 40px;
  padding: 5px 2px;
  text-align: left;
}

.paragraph {
  margin: 10px 40px;
  padding: 5px 2px;
  text-align: left;
}

.card {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 40px;
  margin-right: 40px;
}
