.intro {
  position: absolute;
  top: 0;
  z-index: 0;
  margin: 150px 50px;
  background-color: black;
  color: white;
}
.tex {
  position: absolute;
  top: 0;
  z-index: 0;
  margin: 190px 50px;
  background-color: black;
  color: white;
}

.hello {
  margin: 50px 10px;
  text-align: left;
}
.imageWrapper {
  text-align: center;
}
.orca {
  margin: 90px 90px;
  float: right;
  border-radius: 50%;
  text-align: center;
}

.calls {
  margin: 15px 40px;
}
.callone {
  float: inline-start;
  margin: 20px 40px;
  text-align: justify;
}

.gallery {
  float: left;
  text-align: center;
  margin: 6px 30px;
  background-color: rgba(190, 255, 246, 0.76);
}

.image {
  margin-top: 150px;
  margin-left: 370px;
  margin-right: 100px;
  float: right;
  background-color: rgba(190, 255, 246, 0.76);
}
.gallery2 {
  float: left;
  background-color: rgba(190, 255, 246, 0.76);
  margin: 270px 30px;
}
.audio {
  top: 0;
}

.box {
  height: 100%;
  width: auto;
  margin: 30px 200px;
}

.audiosample {
  display: flex;
  width: 100%;
  margin: 10px;
}
.audios {
  display: flex;
}

.linebreak {
  margin-top: 1200px;
}

.pods {
  text-align: center;
  align-items: center;
}

.property {
  justify-content: left;
  width: 100%;
  /* flex-wrap: wrap; */
  /* margin: 1200px 0; */
  padding: 40px 10px 100px 100px;
}

.exhibits {
  margin-top: 1500px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: left;
}

.exhibit {
  margin-left: 40px;
  text-align: left;
}
/* This is selecting the row container holding the two images. */
.org {
  width: 100%;
  height: auto;
  display: flex;
  margin: 0 30px 50px 30px;
  text-align: center;
  padding: 0 5px 30px 5px;
  justify-content: space-evenly;
}
.org :nth-of-type(1) {
  border-radius: 10%;
}
.org :nth-of-type(2) {
  /* border: solid 1px; */
  border-radius: 10%;
}
