.appbar {
  background-color: #080d26;
}

.typo {
  color: white;
  margin-right: 32px;
}

.typo:hover {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.div {
  flex-grow: 1;
}

.icon {
  margin-right: 4px;
  color: white;
}

.icon:hover {
  cursor: pointer;
  color: white;
}

.iconContainer {
  margin-right: 32px;
}
