.header{
  border-bottom: 1px solid #E2E8F0;
  list-style-type: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: black;
  list-style-type: none;
  overflow: hidden;
  text-decoration: none;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #222222;
  list-style-type: none;
}

.navmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.navitem {
  margin-left: 5rem;
  list-style-type: none;
}

.navlink{
  font-size: 1rem;
  font-weight: 100;
  color: white;
  text-transform: uppercase;
  list-style-type: none;
}

.navlink:hover{
  color: #4792e7;
}

.navlogo {
  font-size: 2.1rem;
  font-weight: 100;
  color: #482ff7;
}

@media only screen and (max-width: 768px) {
  .navmenu {
      position:fixed;
      z-index: 1;
      right: -100%;
      top: 5rem;
      flex-direction: column;
      background-color:black;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .navmenu.active {
      left: 0;
  }

  .navitem {
      margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
      cursor: pointer;
     
     align-content: flex-end;
    
  }

  .hamburger.active .bar:nth-child(2) {
      opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      -webkit-transform: translateY(8px) rotate(45deg);
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      -webkit-transform: translateY(-8px) rotate(-45deg);
      transform: translateY(-8px) rotate(-45deg);
  }
}

.footer {
  font-size: 1.5rem;
}